* {
    cursor: crosshair;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Reddit Sans', 'Courier New', Courier, monospace, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.home-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('contents/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.academics-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('contents/gaussian_process.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.research-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('contents/research_background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('contents/contact_background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.menu-bar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 24px 24px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    box-sizing: border-box;
    border-bottom: 1px solid;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.introduction-caption {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 32pt;
    transform: translate(0%, -50%);
    color: white;
    text-align: left;
    font-size: 20px;
    z-index: 3;
}

.home-banner {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
    padding-left: 16pt;
    padding-right: 16pt;
    margin-right: 32pt;
    margin-bottom: 32pt;
    color: white;
    text-align: left;
    font-size: 16px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border: 1px solid;
}

.title-banner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 4pt;
}

.research-works {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    z-index: 4;
    color: #333;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.work-row {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.work-row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.report-link-container {
    width: 30%;
}

.work {
    width: 70%;
    text-align: justify;
}

.work-cover {
    width: 100%;
    height: 100%;
    margin: 16pt;
    transition: opacity 0.7s ease;
}

.work-cover:hover {
    opacity: 0.5;
}

.work-title {
    padding: 0pt 32pt 0pt 32pt;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.work-caption {
    padding-left: 32pt;
    padding-right: 16pt;
}

.first {
    border-top: 0px solid;
}

.name, .navigation a, .left-text .hashtag {
    color: white;
    text-decoration: none;
    font-size: 14pt;
}

.navigation a {
    margin-left: 20px;
}

.navigation a:hover, .left-text .hashtag:hover {
    color: #ccc;
}