body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.background-image {
    background-image: url('background.webp');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
}

.name, .navigation a {
    color: white;
    text-decoration: none;
}

.navigation a {
    margin-left: 20px;
}

.navigation a:hover {
    color: #ccc;
}

.centered-text {
    position: relative;
    color: white; /* Ensures text is visible on potentially dark backgrounds */
    font-size: 20px; /* Adjust size as necessary */
    max-width: 80%; /* Restricts text width for readability */
    z-index: 1; /* Ensures text appears above the background */
}

.hashtag {
    color: #4CAF50; /* Gives hashtags a distinctive color, adjust as desired */
}